<?xml version="1.0" ?>
<config>
    <modules>
        <IGN_Siteblocks>
            <version>1.0.2</version>
        </IGN_Siteblocks>
    </modules>
    <global>
        <blocks>
            <siteblocks>
                <class>IGN_Siteblocks_Block</class>
            </siteblocks>
        </blocks>
        <models>
            <siteblocks>
                <class>IGN_Siteblocks_Model</class>
                <resourceModel>siteblocks_resource</resourceModel>
            </siteblocks>
            <siteblocks_resource>
                <class>IGN_Siteblocks_Model_Resource</class>
                <entities>
                    <block>
                        <table>ign_siteblock</table>
                    </block>
                </entities>
            </siteblocks_resource>
        </models>
        <resources>
            <siteblocks_setup>
                <setup>
                    <module>IGN_Siteblocks</module>
                </setup>
            </siteblocks_setup>
        </resources>
        <helpers>
            <siteblocks>
                <class>IGN_Siteblocks_Helper</class>
            </siteblocks>
        </helpers>
    </global>
    <frontend>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <siteblocks>
                        <class>siteblocks/observer</class>
                        <method>checkout_cart_product_add_after</method>
                        <type>model</type>
                    </siteblocks>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <layout>
            <updates>
                <siteblocks module="siteblocks">
                    <file>siteblocks.xml</file>
                </siteblocks>
            </updates>
        </layout>
        <routers>
            <siteblocks>
                <use>standard</use>
                <args>
                    <module>IGN_Siteblocks</module>
                    <frontName>siteblocks</frontName>
                </args>
            </siteblocks>
        </routers>
        <translate>
            <modules>
                <IGN_Siteblocks>
                    <files>
                        <default>IGN_Siteblocks.csv</default>
                    </files>
                </IGN_Siteblocks>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <siteblocks module="siteblocks">
                    <file>siteblocks.xml</file>
                </siteblocks>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <siteblocks before="Mage_Adminhtml">IGN_Siteblocks_Adminhtml</siteblocks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
            <siteblocks>
                <settings>
                    <enabled>1</enabled>
                    <block_count>10</block_count>
                </settings>
            </siteblocks>
    </default>
    <crontab>
        <jobs>
            <siteblocks_clear_cache>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>siteblocks/cron::siteblocks_clear_cache</model>
                </run>
            </siteblocks_clear_cache>
        </jobs>
    </crontab>
</config>